@tailwind base;
@tailwind components;
@tailwind utilities;

.pos-unset {
  position: unset !important;
}

.selector {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.selector select {
  background-image: url("../public/images/arrow.svg");
}

.select-line {
  height: 50px;
  background-color: #c5c5c5;
}

.callback {
  background-image: url("../public/images/callback.png");
  background-size: cover;
}

.callback-line {
  width: 40px;
  height: 1px;
  background-color: #ababab;
  transform: rotate(90deg);
}

.callback-input::placeholder {
  color: #504f59;
}
/* Range Slider */

.slider-track {
  height: 10px;
  background-color: #edeef1;
  border-radius: 12px;
}

.slider-thumb {
  background-color: #7f56d9;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

.rooms-input {
  border-radius: 2rem;
}

.room-b-1 {
  background-image: url("../public/images/plus.svg");
}

.room-b-2 {
  background-image: url("../public/images/minus.svg");
}

/* Map */
.leaflet-container {
  height: 100%;
}
